<!DOCTYPE html>
<html>
<head>
  <title>RickAndMortyAPI</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
  <h2>Rick And Morty API</h2>
</header>

<div *ngIf="character" class="profile-container">
  <img [src]="character.image" alt="{{ character.name }}" class="character-image">
  <h2>{{ character.name }} • {{ character.species }}</h2>
  <p><strong>ID:</strong> {{ character.id }}</p>
  <p>
    <strong>Status:</strong> {{ character.status }}
    <span [class]="character.status === 'Alive' ? 'status-indicator alive' : 'status-indicator dead'"></span>
  </p>
  <p><strong>Type:</strong> {{ character.type || 'N/A' }}</p>
  <p><strong>Gender:</strong> {{ character.gender }}</p>
  <p><strong>Origin:</strong> {{ character.origin.name }}</p>
  <p><strong>Last Location:</strong> {{ character.location.name }}</p>
  <p><strong>Episodes Appeared:</strong> {{ character.episode.length }}</p>
  <p><strong>Created:</strong> {{ character.created | date: 'd MMMM, y' }}</p>
  <button (click)="goBack()">Explore Characters</button>
</div>

<footer>
  <p>
    <span>❮❯ by </span>
    <a href="https://github.com/WhiteHades" target="_blank" class="footer-link">Mohammed Efaz</a>
    <a> • </a>
    <img src="../../assets/charizard2_.png" alt="">
  </p>
</footer>
</body>
</html>
