* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #ece48b;
  color: #282c34;
}

::-moz-selection {
  background: #ece48b;
  color: #282c34;
  border-radius: 5px;
}
