@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #ced4e1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header, footer {
  text-align: center;
  position: fixed;
  left: 0;
  padding: 30px 0;
  background-color: #282c34;
  color: #ced4e1;
  width: 100%;
  flex-shrink: 0;
}

header {
  top: 0;
  /*border-bottom: 2px solid #ece48b;*/
}

footer {
  bottom: 0;
  font-size: 15px;
  padding-bottom: 60px;
  border-top: 3px solid #ece48b;
}

.footer-link {
  color: #fff;
  box-shadow: 0 1.5px 0 #ece48b;
  transition: color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  color: #ece48b;
  box-shadow: 0 2px 0 #282c34;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

.table th, .table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.character-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
}

.character-avatar:hover {
  cursor: pointer;
  border-color: #ece48b;
  transform: scale(1.1);
}

.click1:hover{
  cursor: pointer;
  color: #ece48b;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh;
}

.search-container input {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.pagination-container a {
  display: flex;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #ece48b;
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.pagination-container a:hover,
.pagination-container a.active {
  background-color: #ece48b;
  color: #282c34;
  border-radius: 50px;
}

.pagination-container a.disabled {
  color: #cccccc;
  pointer-events: none;
  border-radius: 50px;
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #abb2bf;

  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
}

@media (max-width: 768px) {
  .table {
    display: block;
    overflow-x: auto;
  }

  .table th,
  .table td {
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .table {
    width: auto;
  }

  .table th,
  .table td {
    padding: 16px;
  }
}
