<!DOCTYPE html>
<html>
<head>
  <title>RickAndMortyAPI</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
  <h2>Rick And Morty API</h2>
</header>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Species</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let character of displayedChars">
      <td>
        <img [src]="character.image" alt="avatar" class="character-avatar" (click)="goToProfile(character.id)">
      </td>
      <td>
        <span class="click1" (click)="goToProfile(character.id)">{{ character.name }}</span>
      </td>
      <td>{{ character.species }}</td>
      <td>{{ character.status }}</td>
    </tr>
    </tbody>
  </table>

<!--    <input type="text" [(ngModel)]="searchTerm" (input)="filterChar()" placeholder="Search">-->

  <div class="search-container">
    <input type="text" placeholder="Search">
  </div>

  <div class="pagination-container">
    <a href="javascript:void(0)" (click)="prev()" [class.disabled]="displayPage === 1">
      <i class="material-icons">chevron_left</i>
    </a>
    <ng-container *ngFor="let p of getVisiblePageNumbers()">
      <a href="javascript:void(0)" (click)="goToDisplayPage(p)" [class.active]="displayPage === p">{{ p }}</a>
    </ng-container>
    <a href="javascript:void(0)" (click)="next()" [class.disabled]="displayPage === totalDisplayPages">
      <i class="material-icons">chevron_right</i>
    </a>
  </div>
</div>

<footer>
  <p>
    <span>❮❯ by </span>
    <a href="https://github.com/WhiteHades" target="_blank" class="footer-link">Mohammed Efaz</a>
    <a> • </a>
    <img src="../../assets/charizard2_.png" alt="">
  </p>
</footer>
</body>
</html>
